{% extends 'base.html' %} {% block content%}
<div class="col-sm-12 col-md-8 col-md-offset-2">

    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4><strong>Details</strong></h4>
        </div>
        <div class="panel-body">
        
            <table class="table">
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>{{user.first_name}} &nbsp; {{user.last_name}}</strong></td>
                </tr>
                <tr>
                    <td><strong>Username</strong></td>
                    <td><strong>{{user.username}}</strong></td>
                </tr>
                <tr>
                    <td><strong>Email</strong></td>
                    <td><strong>{{user.email}}</strong></td>
                </tr>
                <tr>
                    <td><strong>User Type</strong></td>
                    <td><strong>{{user.user_type}}</strong></td>
                </tr>
                {% if user.is_ministryuser %}
                <tr>
                 <td><strong>Ministry</strong></td>
                 <td><strong>{{user.ministry}}</strong></td>
                </tr>
                {% endif %}
            </table>
            <a href="{% url 'users:edit_profile'%}" class="btn btn-primary btn-lg" role="button">Edit Profile</a>
            <a href="{% url 'users:change_password'%}" class="btn btn-info btn-lg" role="button">Change Password</a>
            <br>
        </div>
    </div>
    {% endblock %}