{% extends 'base.html' %} {% block content %}
<div class="col-sm-12 col-md-8 col-md-offset-2">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4><strong>{{user.first_name}}&nbsp;{{user.last_name}}</strong></h4>
        </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete this User?</p>
                <input type="submit" class="btn btn-danger btn-lg" value="Delete">
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}